app = 'thu-monopoly'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  concurrency_limit = 500

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
